// **************************************** LUMEN - BOOTSTRAP THEME *******************************************
@import "lumen/variables";

// **************************************** BOOTSTRAP *******************************************
@import "bootstrap/mixins";
// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "lumen/bootswatch";


// **************************************** FONT AWESOME *******************************************
// @import 'font-awesome/font-awesome.scss';

@import '_mixins.scss';
@import '_misc.scss';

.kzt:before {
	content: '$';
}

.pane-md {
	min-width: 340px;
	max-width: 400px;
}

.hint-text {
	color: #999;
	font-weight: normal;
}

// Basic app structure
.window {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.window-content {
	position: relative;
	// overflow-y: auto;
	// display: flex;
	// flex: 1;
	height: 100%;
}

.pane-group {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.pane {
  position: relative;
  overflow-y: auto;
  flex: 1;
  border-left: 1px solid $panel-default-border;

  &:first-child {
    border-left: 0;
  }
}

.sidebar {
	max-width: 400px;
}

.fs-18 {
	font-size: 12px;
}