<div class="centeredPrompt">
  <div class="centeredPrompt__item centeredPromptIcon">
    <div class="icon fa fa-plus"></div>
  </div>
  <div class="centeredPrompt__item centeredPromptLabel">Добавление маппированного показателя.</div>
  <div class="centeredPrompt__item centeredPromptDetails">Введите наименование маппированного показателя и нажмите "Сохранить".</div>
  <div class="form-group" style="width: 30%; min-width: 200px;">
    <input class="form-control" [(ngModel)]="title" name="title" placeholder="Наименование">
  </div>
  <div class="form-group">
    <button (click)="save()" class="btn btn-primary">Сохранить</button>
    <button (click)="cancel()" class="btn btn-default">Отмена</button>
  </div>
</div>