index-item {
	.box-body {
	  cursor: pointer;
	  position: relative;
		width: 180px;
	  height: 60px;
	  border: 1px solid #ddd;
	  padding: 10px;
	  margin: 5px;
	  border-width: 1px 1px 4px 1px;
	  &:hover {
	  	background-color: #eee;
	  }
	}
 //  &:first-child { margin-top: 0 !important; margin-left: 0 !important; }
	// &:last-child { margin-bottom: 0 !important; margin-right: 0 !important; }
}