indexes {
	flex: 0 0 auto;
	max-height: 30%;
	height: 300px;
	overflow: auto;
	border: 1px solid #e7e7e7;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
	padding: 10px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
	.content {
		display: flex !important;
		justify-content: flex-start;
		flex-wrap: wrap;
		flex-direction: row;
	}
}