
<div class="row m-b-15">
	<div class="col-md-8">
		<h4 class="m-b-5 m-t-15">Показатели</h4>
	</div>
	<div class="col-md-4">
    <div class="pull-right">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input class="form-control" placeholder="Поиск..." [(ngModel)]="searchText" (keyup)="search(searchText)">
        <span class="input-group-addon" (click)="searchText=''; changed();"><i class="fa fa-times"></i></span>
      </div>
		</div>
	</div>
</div>
<div class="content">
	<index-item *ngFor="let item of indexes | async" [item]="item" (click)="add(item)"></index-item>
</div>