mapping {
	display: flex;
	flex-direction: row;
	justify-content: row-start;
	height: 100%;

	.mapping-sidebar {
		display: flex;
	  flex-direction: column;
	  justify-content: flex-start;

	  height: 100%;
	  width: 20%;

	  background-color: #FAFAFA;
    border-right: 1px solid #D5DEE5;
	  padding: 10px;
	  overflow: auto;

	  .navigation {
	  	width: 100%;
	    padding: 0 20px;
	    margin-top: 30px;

	    .nav-button {
	    	display: block;
  	    padding: 10px 0px 10px 5px;
  	    font-size: 14px;
  	    border-bottom: 1px dotted #CDD0D7;
  	    cursor: pointer;
  	    text-decoration: none;

  	    &:last-child {
  	    	border-bottom: none;
  	    }

		    &, &:active, &:hover, &:visited {
				  color: #4D5362;
				}

				&.active {
			    position: relative;
			    color: #262A35;
			    background-color: #fff8e9;

			    &:after {
			    	content: '';
	    	    position: absolute;
	    	    right: 6px;
	    	    top: 50%;
	    	    transform: translateY(-50%);
	    	    width: 8px;
	    	    height: 8px;
	    	    border-radius: 100%;
	    	    background-color: #BCD2DA;
	    	    border: 1px solid #BCD2DA;
			    }
				}

				&:focus, &:hover {
			    background-color: #E6E6E6;
			    color: #262A35;
				}
			}

			.nav-button.nav-add-button:hover {
		    background-color: #ecf9ff;
		    color: #262A35;
			}
	  }
	}

	.mapping-indexes {
		width: 80%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}