<div class="mapping-sidebar">
	<div class="input-group">
	  <span class="input-group-addon"><i class="fa fa-search"></i></span>
	  <input class="form-control" placeholder="Поиск..." [(ngModel)]="searchText" (keyup)="search(searchText)">
	  <span class="input-group-addon" (click)="searchText=''; changed();"><i class="fa fa-times"></i></span>
	</div>
	<div class="navigation">
		<a class="nav-button nav-add-button" (click)="add()">Добавить маппированный показатель <i class="fa fa-plus pull-right m-r-5 m-t-5" style="color: #BCD2DA;"></i> </a>
		<a class="nav-button" [class.active]="(selectedMapping | async)?.global_index_sid === mapping.global_index_sid" *ngFor="let mapping of mappings | async" (click)="select(mapping)">{{mapping.name}}</a>
	</div>
</div>

<div class="mapping-indexes" *ngIf="!(addMapping | async)?.value">
	<selected-mapping [item]="selectedMapping | async"></selected-mapping>
	<indexes *ngIf="(selectedMapping | async)"></indexes>
</div>

<div class="mapping-indexes" *ngIf="(addMapping | async)?.value">
	<add-mapping></add-mapping>
</div>