mapped-index {
	flex: 1 1 auto;
	padding-left: 25px;
	.input-group-addon i {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    cursor: pointer;
    border-radius: 3px;
  }
}