<div class="well" *ngIf="item">
  <legend>{{item.parents.indices[0].name_pokaz}}</legend>
  <div class="form-group">
    <label>Наименование:</label>
    <input class="form-control" value="{{item.parents.indices[0].name_pokaz}}" disabled>
  </div>
  <div class="form-group">
    <label>Дата от:</label>
		<datepicker [value]="item.dateStart" (onValueChanged)="startChanged($event)"></datepicker>
  </div>
  <div class="form-group">
    <label>Дата до:</label>
		<datepicker [value]="item.dateEnd" (onValueChanged)="endChanged($event)"></datepicker>
  </div>
  <div class="form-group">
    <label>Цвет:</label>
    <div class="input-group">
        <div class="input-group-addon">
            <i [style.background-color]="item.color"></i>
        </div>
        <select class="form-control" id="select"  (change)="colorChanged($event.target.value)">
          <option *ngFor="let color of colors" value="{{color.code}}" [selected]="color.code === item.color"><i [style.background-color]="color.code"></i>{{color.name}}</option>
        </select>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-9">
    <button class="btn btn-default" (click)="delete()">Удалить</button>
  </div>
</div>

<div class="centeredPrompt" *ngIf="!item" style="align-items: flex-start;">
  <div class="centeredPrompt__item centeredPromptDetails">Выберите показатель, чтобы смотреть и править детали.</div>
  <div class="centeredPrompt__item centeredPromptIcon">
    <div class="icon fa fa-reply"></div>
  </div>
</div>