<div class="centeredPrompt" *ngIf="!item" style="align-items: flex-start;">
  <div class="centeredPrompt__item centeredPromptIcon">
    <div class="icon fa fa-reply"></div>
  </div>
  <div class="centeredPrompt__item centeredPromptDetails">Выберите маппированный показатель из списка.</div>
</div>
<div class="mapping-box" *ngIf="item">

	<div class="mapping-box-indexes p-t-10">
		<div class="mapping-header">
			<div class="row" style="border-bottom: 1px solid #eee;">
				<div class="col-md-8">
					<h4 class="m-b-5 m-t-15">{{item.name}}</h4>
				</div>
				<div class="col-md-4">
          <div class="pull-right">
            <div class="btn-group  m-t-5">
              <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Действия</a>
              <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a (click)="delete()" class="cursor">Удалить</a></li>
                <li><a (click)="deleteMappedIndexes()" class="cursor">Очистить вложенные показатели</a></li>
              </ul>
            </div>
            <div class="btn-group m-t-5" *ngIf="(mappedIndexes | async)?.length > 0">
              <button type="button" class="btn btn-default btn-sm" (click)="generateMonths(1)"><i class="fa fa-chevron-left"></i></button>
              <button type="button" class="btn btn-default btn-sm" (click)="offset=0;generateMonths(0)"><i class="fa fa-calendar-o"></i></button>
              <button type="button" class="btn btn-default btn-sm" (click)="generateMonths(-1)"><i class="fa fa-chevron-right"></i></button>
            </div>
					</div>
				</div>
			</div>
      <div class="timeseries-header" style="border-bottom: 1px solid #eee;">
        <ul class="timeline">
          <li class="month" *ngFor="let m of months" [class.current]="m.month === currentMonth">{{m.name}}</li>
        </ul>
      </div>
		</div>
		<div class="mapping-body">
      <div *ngFor="let i of mappedIndexes | async; let idx = index" class="timeseries" (click)="selectMappedIndex(i)" [class.selected]="i.parents.indices[0].pokaz_sid === (selectedMappedIndex | async)?.parents.indices.pokaz_sid">
        <p class="title">{{i.parents.indices[0].name_pokaz}}</p>
        <ul class="timeline">
          <li class="timestamp" *ngFor="let m of months" [style.background-color]="mappingMaps(m, i, idx)" (click)="selectMappedIndex(i)"></li>
        </ul>
      </div>
		</div>
    <div class="centeredPrompt" *ngIf="!(mappedIndexes | async) || (mappedIndexes | async)?.length === 0" style="align-items: flex-end;justify-content: flex-end;z-index: -2;width: 350px;">
      <div class="centeredPrompt__item centeredPromptDetails">Выберите показатель снизу и добавьте в ваш список мапирования.</div>
      <div class="centeredPrompt__item centeredPromptIcon">
        <div class="icon fa fa-share fa-rotate-90"></div>
      </div>
    </div>
	</div>

    <mapped-index [item]="(selectedMappedIndex | async)"></mapped-index>
</div>