selected-mapping {
	flex: 1 1 auto;
	max-height: 70%;
	height: 1050px;

	.mapping-box {
		display: flex;
		flex-direction: row;
		height: 100%;
	  // justify-content: space-between;

	  .mapping-box-indexes {
			flex: 0 0 auto;
			max-width: 80%;
			min-width: 70%;
			display: flex;
			flex-direction: column;
			// height: 100%;

			.mapping-header {
				flex: 0 0 auto;
			}

			.mapping-body {
				flex: 1 1 auto;
				display: flex;
				flex-direction: column;
				overflow-y: auto;
				max-height: 500px;
			}
	  }
	}

	.timeseries {
		display: flex;
		width: 100%;
		flex: 0 0 auto;
		flex-direction: row;
		border-bottom: 1px dotted #eee;
		margin-bottom: 0px;
		cursor: pointer;

		&.selected {
			background-color: #fff8e9;
		}

		&:hover {
			background-color: #f9f9f9;
		}

		&:last-child {
			border-bottom: none;
		}

		.timeline {
		  display: flex;
		  list-style-type: none;
		  padding-left: 0;
		  margin-bottom: 0;
			width: 80%;
			.timestamp {
	  		transition: all 200ms ease-in;
			  margin: 10px 0 10px 0;
			  width: 10%;
			  min-height: 10px;
			  background-color: #eee;
			  padding: 10px 0 10px 0;
			  &:before {
			  	content: '';
			  }

				border-right: 1px dashed rgba(238, 238, 238, 0.44);
				border-left: 1px dashed rgba(238, 238, 238, 0.44);
			}
		}
		.title {
			width: 20%;
			// font-size: 16px;
			padding: 10px 20px 10px 5px;
			margin-bottom: 0;
			list-style-position:inside;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		}
	}

	.timeseries-header {
		display: flex;
		width: 100%;
		flex: 0 0 auto;
		flex-direction: row;
		border-bottom: 1px solid #eee;
		margin-bottom: 0px;
		cursor: pointer;

		.timeline {
		  display: flex;
		  list-style-type: none;
		  padding-left: 0;
		  margin-bottom: 0;
			width: 80%;
			margin-left: 20%;
			.month {
				padding-top: 10px;
				padding-bottom: 10px;
		  	background-color: none;
		  	width: 10%;
		  	text-align: center;
				border-right: 1px solid #eee;
				font-size: 16px;

				&.current {
			  	background-color: #fff8e9;
			  }

				&:last-child {
					border-right: none;
				}
		  }
		  .current {
		  	background-color: light;
		  }
		}
	}
}