hello
<div>
	{{(item | async)?.id}}
	{{(item | async)?.title}}
</div>

<h5>Values</h5>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>attribute.value.title</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of values | async" (click)="select(item)">
			<td>{{item.id}}</td>
			<td>{{item.title}}</td>
		</tr>
	</tbody>
</table>