.select2-dropdown {
	border: 1px solid rgba(0, 0, 0, 0.07) !important;
	border-bottom-right-radius: 2px !important;
	border-bottom-left-radius: 2px !important;
	padding-top: 5px !important;
	z-index: 790 !important;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15) !important;
}

.box.full-height {
  height: calc(100%);
}
.box.full-height .box-body {
  height: auto;
  width: 100%;
  height: 100%;
}
.full-height {
  height: 100% !important;
}

.centeredPrompt {
  /**
   * Lay out the children of this container with
   * flexbox.
   */
  display: flex;

  /**
   * Rotate the main axis so that the children
   * are laid out vertically, the same as in the
   * above "Side bar" example.
   */
  flex-direction: column;

  /**
   * Instead of pushing the children apart, as in
   * previous examples, we will group them together
   * in the center of their container.
   */
  justify-content: center;

  /**
   * Align the children in the center, along
   * the main axis. Because the direction is
   * "column" this has a similar effect as setting
   * text-align: center.
   */
  align-items: center;

  min-height: 300px;
  padding: 10px;
}

  .centeredPrompt__item + .centeredPrompt__item {
    margin-top: 5px;
  }

    .centeredPromptIcon {
      font-size: 60px;
      line-height: 0;
    }

    .centeredPromptLabel {
      color: #86969C;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }

    .centeredPromptDetails {
      color: #86969C;
      font-size: 16px;
      margin-bottom: 10px;
      text-align: center;
    }

.icon {
  color: #BCD2DA;
}