<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">MapperBoard</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/mapping">Мапирование</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Zhiger Kassymkanov <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li><a href="http://jsfiddle.net/bootswatch/gqhenoox/">Профиль</a></li>
            <li class="divider"></li>
            <li><a href="./_bootswatch.scss">Выход</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>

<div class="window p-t-55">
  <div class="window-content">
    <router-outlet></router-outlet>
  </div>
</div>