<div class="centeredPrompt" *ngIf="!item">
  <div class="centeredPrompt__item centeredPromptIcon">
    <div class="icon fa fa-smile-o"></div>
  </div>
  <div class="centeredPrompt__item centeredPromptLabel">Добро пожаловать!</div>
  <div class="centeredPrompt__item centeredPromptDetails">Начните мапирование показателей перейдя по ссылке внизу.</div>
  <a routerLink="/mapping" class="btn btn-primary">Начать Мапирование</a>
</div>
