<div class="page-header">
	<h3>Attribute</h3>
</div>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>report.title</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items | async" (click)="select(item)">
			<td>{{item.id}}</td>
			<td>{{item.title}}</td>
		</tr>
	</tbody>
</table>